html body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
	height: 100%;
}

::-webkit-input-placeholder  { color:#000; }
:-moz-placeholder { color:#000; }
:-ms-input-placeholder { color:#000; }

h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
body .table-striped>tbody>tr:first-child{
	border-top:0;
}
body .table-striped>tbody>tr{
    border-top: 1px solid #ddd;
}
.table-striped>tbody>tr:nth-of-type(odd){
	background:#fff;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border-top: 0;
}
body .table-bordered{
	border:0;
}
body .table-bordered tr{
	border:0;
}
body .table-bordered tr td{
	border:0;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
body a {
    color: #fff;
}
body a:hover {
	color:#8e8e8e;
	text-decoration: none;
}
a:focus {
	color:#8e8e8e;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
header{
    margin-bottom: 15px;
    margin-top: 5px;
}
input {
    outline: none;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
.slide{
	position: absolute;
	top: 0;
	width: 100%;
}
.slide img{
	width:100%;
}
.slide .container .carousel-caption{
	text-align: left;
	position: absolute;
	top: 140px;
	margin-left: 20px;
}
.slide .container .carousel-caption p{
	font-size: 18px;
	margin-bottom: 0;
}
.slide .container .carousel-caption h3{
	color: #fff;
	font-size: 50px;
	margin-top: 10px;
	font-weight: bold;
}
.slide .container .carousel-caption h3 span{
	font-size: 18px;
	font-weight: normal;
}
.top{
	background: rgba(0, 0, 0, 0.35);
	position: relative;
}
.nav-top{
	background: rgba(0, 0, 0, 0.35);
	padding: 15px 0;
}
.nav-top .contacts{
	color: #fff;
	font-size: 16px;
}
.nav-top .contacts .col-md-4{
	text-align:right;
	font-size: 14px;
}
.nav-top .contacts .col-md-4:nth-child(2){
	text-align:left;
	padding-left:20px;
	padding-top: 20px;
}
.nav-top .contacts .canal{
	font-size: 12px;
	padding-left: 50px;
	text-align:left;
}
.nav-top .contacts .col-md-4:first-child .canal{
    padding-left: 75px;
}
.nav-top .contacts .glyphicon{
	padding-right: 12px;
}
.nav-top .contacts a{
	text-decoration:underline;
}
.nav-bottom .col-md-6:first-child .nav{
    font-size: 14px;
}
.nav-bottom .col-md-6:last-child .nav{
	float:right;
    font-size: 14px;
}
.nav-bottom .col-md-6 .nav li:first-child a{
	padding-left:0;
}
.nav-bottom .col-md-6 .nav li a:hover, .nav-bottom .col-md-6 .nav li a:focus{
	background:none;
	text-decoration:underline;
}
.search{
	background: rgba(0, 0, 0, 0.35);
	position: relative;
	float: left;
	margin-top: 150px;
}
.search .top{
	background: rgba(0, 0, 0, 0.35);
	padding: 15px;
	color: #fff;
	font-size: 18px;
	height: 48px;
}
.search .top .sales{
	text-align: right;
}
.search .top .sales a{
	background: #af1e1e;
    padding: 5px;
    text-shadow: 1px 1px 1px #000;
}
.search .top .sales a:hover{
    background: #8A1919;
    color: #fff;
}
.search .bottom{
    height: 225px;
    padding: 20px 15px;
}
.search .bottom .top-s{
}
.search .bottom .top-s .input{
}
.search .bottom .input label{
	color: #fff;
	font-size: 15px;
	font-weight: 400;
}
.search .bottom .input .col-md-6{
	padding:0;
	padding-right: 17px;
	margin-top: 20px;
}
.search .bottom .input .col-md-6 .big{
	width:100%;
	margin: 0;
}
.search .col-md-8 .col-md-6:last-child{
    padding-left: 16px;
    padding-right: 7px;
}
.search .bottom .input .col-md-6 .big select{
	width:100%;
}
.search .bottom .input input{
	width: 100%;
	padding: 14px 0 14px 14px;
	font-size: 14px;
	background: rgba(255, 255, 255, 0.64);
	color: #000;
	border: 0;
}
.search .bottom .input input:focus{
    background: rgba(255, 255, 255, 0.77);
}
.search .bottom .input input.small{
	width: 20%;
	display: inline-block;
}
.search .bottom .input .big{
	display: inline-block;
	height: 48px;
	background: url(/img/select.png) no-repeat 95% 50% rgba(255, 255, 255, 0.64);
	width: 50%;
	margin: 0 10px;
}
.search .bottom .input .big select{
    border-radius: 0;
    width: 100%;
    background: transparent;
    height: 48px;
    padding: 14px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
}
.search .bottom .input .big select:focus{
	outline: none;
    background: rgba(255, 255, 255, 0.77);
}
.search .bottom .input input.cal{
	display: inline-block;
	width: 20%;
}
.search .bottom .input button{
    width: 100%;
    height: 48px;
    margin-top: 44px;
    padding: 14px;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    background: rgba(255, 255, 255, 0.88);
}
.fff{
	background:#fff;
	position: relative;
}
.main{
	background:#fff;
	height:100%;
	position: relative;
	padding: 1px 30px 30px 30px;
}
.main{
	height:1000px;
}
.main .title h2{
	font-weight: bold;
}
.main .title ul{
	border: 0;
	margin-top: 25px;
}
.main .title ul li{
    font-size: 15px;
    font-weight: bold;
}
.main .title ul li a{
    border: 0;
    color: #555;
    border-radius: 0;
    padding: 4px 10px;
    margin-right: 45px;
}
.main .title ul li:last-child a{
	margin-right: 0px;
}
.main .title ul .active a{
	background-color:#2086b9;
	color:#fff;
}
.main .title ul li a:focus{
	border: 0;
	color:#fff;
	background-color:#2086b9;
}
.main .title ul li a:hover{
	border: 0;
	color:#fff;
	background-color:#85ba22;
}
.main .tab-content{
	padding-top: 25px;
}
.main .tab-content .col-md-3{
	padding: 0 10px;
	margin-bottom: 20px;
	min-height: 350px;
}
.main .title:first-child .tab-content .col-md-3{
	min-height:100%;
}
.main .tab-content .col-md-3 img{
	width: 100%;
}
.main .tab-content .col-md-3 .title{
	position: absolute;
	bottom: 0;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	padding: 5px 15px;
	text-shadow: 1px 1px 1px #000;
}
.main .tab-content .col-md-3 .title a{
	font-size: 13px;
	font-weight: normal;
	text-decoration: underline;
}
.main .title .glyphicon{
	font-size: 17px;
	top: 3px;
	right: -2px;
	font-weight: bold;
}
.main .tab-content .col-md-3 .top-h{
	position: relative;
}
.main .tab-content .col-md-3 .top-h .title{
    max-width: 170px;
}
.main .tab-content .col-md-3 .top-h .title a{
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}
.main .tab-content .col-md-3 .top-h .rating{
	position: absolute;
	bottom: 4px;
	color: #ffa00c;
	right: 10px;
}
.main .tab-content .col-md-3 .top-h .rating .glyphicon{
	font-size:14px;
}
.main .tab-content .col-md-3 .bottom{
	position: relative;
}
.main .tab-content .col-md-3 .bottom .text{
	margin: 5px 0;
}
.main .tab-content .col-md-3 .bottom .price{
	font-size: 14px;
	color: #c20000;
	margin-bottom: 10px;
}
.main .tab-content .col-md-3 .bottom .price span{
	font-weight: bold;
}
.main .tab-content .col-md-3 .bottom .button{
	width: 100%;
	position: relative;
	height: 34px;
}
.main .tab-content .col-md-3 .bottom .button img{
	width: 100%;
	position: absolute;
}
.main .tab-content .col-md-3 .bottom .button .left{
	font-size: 14px;
	position: absolute;
	left: 8%;
	top: 7px;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	text-shadow: 1px 1px 1px #565656;
	text-transform: uppercase;
}
.main .tab-content .col-md-3 .bottom .button a:hover{
	color:#fff;
}
.main .tab-content .col-md-3 .bottom .button .right{
	font-size: 14px;
	position: absolute;
	right: 6%;
	top: 7px;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 1px #565656;
	text-transform: uppercase;
}
/*Static*/
.slide1 {
    position: absolute;
    top: 0;
    width: 100%;
}
.slide1 img{
	width:100%;
}
.slide1 .container .carousel-caption{
	text-align: left;
    position: absolute;
    top: 125px;
    margin-left: 20px;
}
.slide1 .container .carousel-caption p{
	font-size: 14px;
	margin-bottom: 0;
}
.slide1 .container .carousel-caption h3{
    color: #fff;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: bold;
}
.slide1 .container .carousel-caption h3 span{
	font-size: 18px;
	font-weight: normal;
}
.slide1 .container .carousel-caption .glyphicon{
	margin-right:5px;
}
.static{
    position: relative;
    background: #fff;
    margin-top: 120px;
    min-height: 400px;
    padding: 15px 0;
}
.static .container{
	padding: 0px 30px;
}
/*Static*/
/*Search*/
.search-send{
    background-color: #2086b9;
    width: 100%;
    padding: 5px 0;
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 15px;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.search-send a:hover, .search-send a:focus{
	color:#fff;
	text-decoration:underline;
}
.collapse{
	position:relative;
}
.collapse .search {
	margin-top: 120px;
	margin-bottom: -130px;
}
.collapsing .search{
	margin-top: 120px;
}
.search-page{
	position:relative;
	background:#fff;
	margin-top: 130px;
	padding-top: 30px;
}
.search-page .col-md-2{
    margin-top: 29px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}
.search-page .col-md-10 ul{
	border: 0;
	margin-top: 25px;
}
.search-page .col-md-10 ul li{
    font-size: 15px;
    font-weight: bold;
}
.search-page .col-md-10 ul li a{
    border: 0;
    color: #555;
    border-radius: 0;
    padding: 4px 10px;
    margin-right: 45px;
}
.search-page .col-md-10 ul li:last-child a{
	margin-right: 0px;
}
.search-page .col-md-10 ul .active a{
	background-color:#2086b9;
	color:#fff;
}
.search-page .col-md-10 ul li a:focus{
	border: 0;
	color:#fff;
	background-color:#2086b9;
}
.search-page .col-md-10 ul li a:hover{
	border: 0;
	color:#fff;
	background-color:#85ba22;
}
.search-page .col-md-10 .tab-content{
	padding-top: 25px;
}
.margin .left{
	padding: 0;
}
.margin .left .img{
	margin-bottom: 10px;
}
.margin .left .col-md-4{
	padding: 0;
	text-align: center;
	margin-bottom: 10px;
}
.margin .left .col-md-4 img{
	width: 65px;
}
.margin .right{
	
}
.margin .right h2{
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	float: left;
}
.margin .right .rating .glyphicon{
	right: -15px;
	top: 9px;
	font-weight: bold;
	bottom: 4px;
	color: #ffa00c;
	font-size: 14px;
}
.margin .right .position-right{position: absolute;right: 0;top: 0;border: 0;padding: 3px 10px;color: #fff;font-size: 14px;font-weight: bold;background-color: #85ba22;}
.margin .right .position-right:hover{background-color: #2086b9;}
.margin .right .position-right a:hover{color:#fff;}
.margin .right .text{margin-top: 15px;font-size: 14px;}

.margin .right .prime{margin-top: 20px;border: 1px solid #EFEFEF;padding: 0;box-shadow: -1px 4px 8px -2px #B5B5B5;}
.margin .right .prime .col-md-6{
    padding: 0;
}

.margin .number{margin-top: 20px;}
.margin .number .col-md-12{padding: 10px 20px;background: #2086B9;color: #fff;font-size: 15px;text-shadow: 0 1px 2px rgba(0,0,0,.6);}
.margin .number .col-md-12 .col-md-6{padding:0;}
.margin .number .col-md-12 .col-md-6:last-child{ text-align:right;}
.margin .number .col-md-3{padding: 0;text-align: center;}
.margin .number .col-md-7{
	border-right: 2px dashed #ccc;
	padding-bottom: 10px;
}
.margin .number .col-md-7 h4{
	font-weight: bold;
    color: #2086b9;
    font-size: 15px;
}
.margin .number .col-md-7 h5{
	font-weight: bold;
    color: #de1818;
}
.margin .number .col-md-7 .person h5:nth-child(2){
	position: relative;
    left: -22px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 23px;
}
.margin .number .price-top{margin-top: 6px;font-size: 16px;font-weight: bold;color: #dc0000;width: 130px;margin: 15px auto;}
.margin .number .price-top span{font-size: 12px;font-weight: normal;}
.margin .number .price-bottom{font-size: 24px;font-weight: bold;color: #DE1818;line-height: 25px;}
.margin .number .price-bottom span{font-size: 17px;color: #000000;font-weight: bold;text-decoration: line-through;}
.margin .number .button{background-color: #2086b9;padding: 10px 0;margin: 9px 20px;font-size: 14px;text-shadow: 0 1px 2px rgba(0,0,0,.6);}
.margin .number a{color: #fff;}
.margin .number .border{
    display: block;
    float: left;
    width: 100%;
    box-shadow: -1px 4px 8px -2px #B5B5B5;
}
.margin .number .person{width: 465px;padding-left: 13px;}
.margin .number .person ul{
	margin-left:0;
	padding-left: 0;
}
.margin .number .person li{list-style: none;width: 161px;margin: 0 10px 20px 0;display: inline-block;vertical-align: top;position: relative;padding-left: 30px;font-size: 14px;color: #000;}
.margin .number .person li .glyphicon{position: absolute;left: 0;font-size: 20px;top: 8px;color: #85ba22;/* text-shadow: 0 1px 2px rgba(133, 186, 34, 0.49); */}
.margin .number .person li:nth-child(3){margin-right:0;width: 120px;margin-left: 10px;}
.margin .number .person li:nth-child(1){width: 120px;}
.margin .number .person li:nth-child(4){width: 120px;}
.margin .number .border .col-md-2{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.margin .number .border .col-md-2 img{width: 553px;}
.margin .right .about h2{
	font-size: 26px;
    font-weight: bold;
    margin:15px 0;
	float:none;
}





.margin .right .prime .col-md-12{
	padding: 5px 20px;
    background: #2086B9;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.margin .right .prime .col-md-12:last-child{margin: 10px 4px; background:none; font-size:13px; font-weight:normal; color:#000;}
.border{
	margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dashed #D4D4D4;
}
.border:last-child{
	border-bottom:none;
	margin-bottom:0;
	padding-bottom:0;
}
/*Search*/
/*Hotel*/
.bron{
    margin-top: 20px;
    background-color: #2086B9;
    padding: 12px;
}
.bron a{
    background: #fff;
    color: #2086B9;
    display: block;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}
.prime{margin-top: 20px;border: 1px solid #C1C1C1;}
.prime .head{background-color: #85ba22;color: #fff;font-size: 14px;padding: 7px 0;padding-left: 16px;margin: 0 -15px;}
.prime .bot{margin-top: 12px;}
.prime .bot dt{
	position:relative;
}
.prime .bot dt span {
    display: inline-block;
    margin: 0 0 0 28px;
    color: #000000;
    font-size: 13px;
}
.prime .bot .glyphicon {
    left: -26px;
    font-size: 15px;
    color: #85BA22;
    position: absolute;
}
.prime .bot dd{
	margin: 0 0 12px 27px;
	font-size: 12px;
	font-style: italic;
}
.faq{margin-top: 20px;border: 1px solid #C1C1C1;}
.faq .head{background-color: #85ba22;color: #fff;font-size: 14px;padding: 7px 0;padding-left: 16px;margin: 0 -15px;}
.faq .bot .top{
    background: transparent;
}
.faq .bot .top a{
    color: #2086B9;
    font-size: 14px;
    text-decoration: underline;
    line-height: 27px;
}
.faq .bot .top strong{
    font-size: 15px;
    padding-top: 20px;
    display: block;
}
.faq .bot .bott a{
    color: #2086B9;
    font-size: 14px;
    text-decoration: underline;
    line-height: 27px;
}
.faq .bot .bott strong{
	font-size: 15px;
    padding-top: 20px;
    display: block;
}
.right-hotel h2 {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    float: left;
}
.right-hotel .rating .glyphicon {
    right: -15px;
    top: 9px;
    font-weight: bold;
    bottom: 4px;
    color: #ffa00c;
    font-size: 14px;
}
.right-hotel .position-right{
    position: absolute;
    right: 15px;
    top: 20px;
    border: 0;
    padding: 3px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: #85ba22;
}
.right-hotel .position-right a span:last-child{
    font-size: 13px;
    font-weight: normal;
    text-decoration: underline;
    padding-left: 15px;
}
.right-hotel{
	padding-top:20px;
}
.right-hotel .address{
    font-size: 14px;
    color: #2086B9;
    margin: 15px 0;
}
.right-hotel .carousel-control.left{background: transparent;opacity: 0.8;}
.right-hotel .carousel-control.right{background: transparent;opacity: 0.8;}
.right-hotel .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{margin-left: -40px;margin-top: 150px;text-shadow: none;background: #FFFFFF;font-size: 16px;color: #2086B9;padding-top: 8px;border-radius: 16px;}
.right-hotel .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev{margin-right: -40px;margin-top: 150px;text-shadow: none;background: #FFFFFF;font-size: 16px;color: #2086B9;padding-top: 8px;border-radius: 16px;}
.right-hotel .slide .carousel-control.left{background: transparent;opacity: 0.8;}
.right-hotel .slide .carousel-control.right{background: transparent;opacity: 0.8;}
.right-hotel .slide .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{margin-left: -14px;margin-top: -60px;width: 20px;height: 49px;text-shadow: none;background: #FFFFFF;font-size: 16px;color: #2086B9;padding-top: 17px;border-radius: 0px 5px 5px 0px;}
.right-hotel .slide .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev{
    margin-right: -14px;
    margin-top: -60px;
    width: 20px;
    height: 49px;
    text-shadow: none;
    background: #FFFFFF;
    font-size: 16px;
    color: #2086B9;
    padding-top: 17px;
    border-radius: 5px 0px 0px 5px;
}
.right-hotel .slide .carousel-caption{
	width: 195px;
	height: 185px;
	text-align: left;
	top: 4%;
	left: 0;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 0;
	text-shadow: none;
	padding-top: 0;
}
.right-hotel .slide .item {
    height: 200px;
}
.right-hotel .slide .item p{font-size: 12px;color: #000000;height: 140px;overflow: hidden;}
.right-hotel .slide .item .pod{background: rgba(255, 255, 255, 0.79);color: #2086b9;font-weight: bold;font-size: 14px;padding-top: 11px;width: 200px;text-align: center;height: 42px;position: relative;left: -30px;}
.otziv{
    position: absolute;
    top: 12px;
    right: 25px;
    width: 195px;
    height: 200px;
    background: rgba(255, 255, 255, 0.65);
}
.right-hotel  .set{
	margin-top: 5px;
}
.right-hotel  .set .img{
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.right-hotel .about{
	font-size:14px;
	margin: 20px 0 20px 0;
}
.right-hotel .search{
    background: transparent;
    margin-top: 10px;
}
.right-hotel .search form{
	display: block;
    width: 100%;
    float: left;
    border: 1px solid #E0E0E0;
    padding-bottom: 10px;
}
.right-hotel .search .po .head{
    background: #2086B9;
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.right-hotel .search .input input.small {
    width: 20%;
    display: inline-block;
}
.right-hotel .search .input .big {
    display: inline-block;
    height: 48px;
    background: url(/img/select1.png) no-repeat 95% 50% rgba(255, 255, 255, 0.64);
    width: 50%;
    margin: 0px 9px 0 0;
}
.right-hotel .search .input input.cal {
    display: inline-block;
    width: 20%;
}
.right-hotel .search .input label {
    color: #000;
    font-size: 15px;
    margin-top: 11px;
}
.right-hotel .search .input .big select {
    border-radius: 0;
    width: 100%;
    background: transparent;
    height: 41px;
    padding: 13px;
    border: 1px solid #D3D3D3;
    box-shadow: inset 1px 1px 1px #C7C7C7;
    font-size: 13px;
    line-height: 1;
    -webkit-appearance: none;
}
.right-hotel .search .input input {
    width: 100%;
    padding: 9px;
    box-shadow: inset 1px 1px 1px #C7C7C7;
    border: 1px solid #D3D3D3;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.64);
    color: #000;
    margin-right: 9px;
}
.right-hotel .heart  .head{
    font-size: 26px;
    font-weight: bold;
    padding: 15px 0 0 0;
    float: none;
    border-top: 2px dashed #dcdcdc;
}
.right-hotel .heart ul{padding-left: 10px;margin-top: 10px;}
.right-hotel .heart ul li{list-style: none;display: inline-block;vertical-align: top;width: 33%;font-size: 15px;margin-top: 17px;}
.right-hotel .heart ul li img{float:left;margin-right: 11px;}
.right-hotel .search ul{padding-left: 10px;margin-top: 10px;}
.right-hotel .search ul li{list-style: none;display: inline-block;vertical-align: top;width: 100%;font-size: 15px;margin-top: 17px;}
.right-hotel .search ul li img{float:left;margin-right: 11px;}
.right-hotel .search .input .col-md-6 {
    padding: 0;
    padding-right: 17px;
}
.right-hotel .search .bottom-s .input .col-md-6 .big {
    width: 100%;
}
.right-hotel .search ul li.heart{
    width: 189px;
    margin-right: 10px;
    height: 178px;
    overflow: hidden;
    position: relative;
    margin-top: 0;
}
.right-hotel .search ul li.heart:nth-child(3){
	margin-right: 0;
}
.right-hotel .search ul li.heart img{
	width:180%;
}
.right-hotel .search ul li.heart a{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 6px 7px 10px;
    font-size: 14px;
    color: #fff;
    background: rgba(133, 186, 34, 0.74);
}
.right-hotel .search .input button {
    width: 125px;
    height: 41px;
    position: absolute;
    top: -37px;
    left: -20px;
    margin-top: 44px;
    padding: 10px;
    font-size: 15px;
    font-weight: normal;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    border: 0;
    color: #fff;
    background: rgb(32, 134, 185);
}
.right-hotel .number{margin-top: 20px;}
.right-hotel .number .col-md-12{padding: 10px 20px;background: #2086B9;color: #fff;font-size: 15px;text-shadow: 0 1px 2px rgba(0,0,0,.6);}
.right-hotel .number .col-md-12 .col-md-6{padding:0;}
.right-hotel .number .col-md-12 .col-md-6:last-child{ text-align:right;}
.right-hotel .number .col-md-3{padding: 0;text-align: center;}
.right-hotel .number .col-md-7{
	border-right: 2px dashed #ccc;
	padding-bottom: 10px;
}
.right-hotel .number .col-md-7 h4{
	font-weight: bold;
    color: #2086b9;
    font-size: 15px;
}
.right-hotel .number .col-md-7 h5{
	font-weight: bold;
    color: #de1818;
}
.right-hotel .number .col-md-7 .person h5:nth-child(2){
	position: relative;
    left: -22px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 23px;
}
.right-hotel .number .price-top{margin-top: 6px;font-size: 16px;font-weight: bold;color: #dc0000;width: 130px;margin: 15px auto;}
.right-hotel .number .price-top span{font-size: 12px;font-weight: normal;}
.right-hotel .number .price-bottom{font-size: 24px;font-weight: bold;color: #DE1818;line-height: 25px;}
.right-hotel .number .price-bottom span{font-size: 17px;color: #000000;font-weight: bold;text-decoration: line-through;}
.right-hotel .number .button{background-color: #2086b9;padding: 10px 0;margin: 9px 20px;font-size: 14px;text-shadow: 0 1px 2px rgba(0,0,0,.6);}
.right-hotel .number a{color: #fff;}
.right-hotel .number .border{
    display: block;
    float: left;
    width: 100%;
    box-shadow: -1px 4px 8px -2px #B5B5B5;
}
.right-hotel .number .person{width: 465px;padding-left: 13px;}
.right-hotel .number .person ul{
	margin-left:0;
	padding-left: 0;
}
.right-hotel .number .person li{list-style: none;width: 161px;margin: 0 10px 20px 0;display: inline-block;vertical-align: top;position: relative;padding-left: 30px;font-size: 14px;color: #000;}
.right-hotel .number .person li .glyphicon{position: absolute;left: 0;font-size: 20px;top: 8px;color: #85ba22;/* text-shadow: 0 1px 2px rgba(133, 186, 34, 0.49); */}
.right-hotel .number .person li:nth-child(3){margin-right:0;width: 120px;margin-left: 10px;}
.right-hotel .number .person li:nth-child(1){width: 120px;}
.right-hotel .number .person li:nth-child(4){width: 120px;}
.right-hotel .number .border .col-md-2{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.right-hotel .number .border .col-md-2 img{width: 553px;}
.right-hotel .about h2{
	font-size: 26px;
    font-weight: bold;
    margin:15px 0;
	float:none;
}
/*Hotel*/
footer{
	background: url(/img/footer-bg.jpg) 50% 0%;
	background-size: 100%;
	position: relative;
}
.footer-top{
	color:#fff;
	font-size: 14px;
	background: rgba(0, 0, 0, 0.67);
	padding: 10px 0;
}
.footer-top .col-md-3 h3{
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}
.footer-top .col-md-3 li{
	list-style:none;
	margin-left: -4px;
}
.footer-top .col-md-3 .text{
	margin-bottom: 5px;
}
.footer-top .col-md-3 .number{
	font-size: 25px;
	font-weight: bold;
}
.footer-top .col-md-3 .number div{
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 8px;
}
.footer-top .col-md-3 label{
	font-weight: normal;
	font-size: 14px;
}
.footer-top .col-md-3 input{
	padding: 5px 0;
	font-size: 13px;
	background: rgba(255, 255, 255, 0.64);
	color: #000;
	border: 0;
}
.footer-top .col-md-3 button{
	height: 30px;
	position: relative;
	top: 1px;
	padding: 4px 6px;
	font-weight: bold;
	font-size: 14px;
	border: 0;
	color: #676767;
	background: rgba(255, 255, 255, 0.88);
}
.footer-top .col-md-3 .conf{
	font-size: 9px;
	line-height: 13px;
	margin-top: 12px;
}
.footer-bottom{
	background: rgba(0, 0, 0, 0.35);
	color: #fff;
}
.footer-bottom .copyright{
	float: left;
	padding: 10px 16px;
}
.footer-bottom .creative{
	float: right;
	padding: 10px 16px;
	text-align:right;
}
.footer-bottom .creative a{
	text-decoration:underline;
}
.footer-bottom .creative img{
    margin-bottom: 2px;
}
@media (max-width: 1200px){
    .search-page .col-md-10 ul li {
        font-size: 13px;
    }
    .margin .left .img img{
        width:100%;
    }
    .margin .left .col-md-4 img {
        width: 90%;
    }
    .slide1 .container .carousel-caption {
        top: 140px;
        left: 8%;
    }
}

/* =============================================== */
.reserve h3{font-weight: bold;font-size: 29px;margin-top: 0;}
.reserve label{font-size: 16px;font-weight: normal;}
.reserve input[type="text"]{width: 100%;height: 37px;border-radius: 5px;border: 1px solid #D6D6D6;box-shadow: inset 1px 1px 9px #E4E2E2;padding: 7px;}
.reserve input[type="email"]{width: 100%;height: 40px;border-radius: 5px;border: 0;box-shadow: inset 1px 1px 9px #CACACA;padding: 10px;}
.reserve input[type="tel"]{width: 100%;height: 40px;border-radius: 5px;border: 0;box-shadow: inset 1px 1px 9px #CACACA;padding: 10px;}
.reserve input[type="checkbox"]{position: absolute;}
.reserve button{width: 90%;height: 60px;background: #1491C6;border: 0;font-size: 30px;font-weight: bold;color: #fff;margin-left: 21px;}
.reserve button:hover{background:#85ba22;}
.reserve .col-md-6 .col-md-12 .col-md-6{padding: 0;padding-right: 30px;}
.reserve>.col-md-6:first-child{
    border-right:1px solid #DDDDDD;
}
.reserve .col-md-6 .email{
    padding-right: 46px;
    font-size: 16px;
}
.reserve .col-md-6 .email span{
    position: relative;
    left: 20px;
}
.reserve .col-md-6 .about{
    text-align: center;
    padding-right: 46px;
    font-size: 14px;
    margin-bottom: 50px;
}
.reserve .col-md-6 form .col-md-12{margin-top: 15px;
}
.reserve .col-md-6 a{
    font-weight:bold;
    color:#1491C6;
}
.reserve .col-md-6 .img{float: left;}
.reserve .col-md-6 .about-hotel{float: left;width: 260px;padding-left: 20px;font-size: 14px;}
.reserve .col-md-6 .about-hotel .rating{margin-bottom: 12px;}
.reserve .col-md-6 .about-hotel .rating .glyphicon {
    font-weight: bold;
    bottom: 4px;
    color: #ffa00c;
    font-size: 14px;
}
.reserve .col-md-6 .about-hotel .hotel .glyphicon {
    font-weight: bold;
    bottom: 4px;
    color: #1491C6;
    font-size: 14px;
    margin-right: 5px;
}
.reserve .col-md-6 .fl{float:left;}
.reserve .col-md-6 .number{float:left; margin-top: 20px;border: 1px solid #EFEFEF;padding: 0;box-shadow: -1px 4px 8px -2px #B5B5B5;}
.reserve .col-md-6 .number .col-md-12{padding: 5px 20px;background: #2086B9;font-size: 14px;font-weight: bold;color: #fff;}
.reserve .col-md-6 .number .col-md-12 .col-md-6{padding:0;}
.reserve .col-md-6 .number .col-md-12 .col-md-6:last-child{ text-align:right;}
.reserve .col-md-6 .number .col-md-3{padding: 0;}
.reserve .col-md-6 .number .col-md-9{padding: 0;}
.reserve .col-md-6 .number .col-md-9{padding: 0px;}
.reserve .col-md-6 .number .col-md-9 h4{font-weight: bold;margin-bottom: 7px;}
.reserve .col-md-6 .number .col-md-10{float: right;margin-top: -20px;margin-bottom: 10px;font-size: 17px;text-align: right;}
.reserve .col-md-6 .number .col-md-10 span{font-size: 20px;font-weight: bold;color: #C50000;}
.reserve .col-md-6 .it{
    padding-top: 40px;
    float: left;
    font-size: 14px;
}
.reserve .col-md-6 .it h3{
    font-size: 17px;
}
.reserve .col-md-6 .it h3 span{
    font-size: 45px;
    color: #C50000;
}
.error {
    color: #C50000;
    font-size: 12px;
}
/*SLIDER*/
.svwp {width: 50px; height: 20px; background: #fff  ;} /*preloader stuff. do not modify!*/
.svwp ul{position: relative; left: -999em;}/*preloader stuff. do not modify!*/
.slideViewer { /*this is the gallery container*/
position: relative;
overflow: hidden; 
margin: 0;
padding: 0;
background: #fff  ;
}
.slideViewer ul {  /*this is your list of images*/
position: relative;
left: 0;
top: 0;
width: 1%;
list-style-type: none;
margin: 0; 
padding: 0;
}
.slideViewer ul li { /*each LI item is floated; the whole list is now displayed as if its in one row*/
float:left;
}

/*typographic info*/
.slideViewer span.typo{padding: 6px; /* do not modify padding (yet)*/background: #fff;color: #000;font: normal 10px Verdana;display: none;}

.thumbSlider { /*the thumbnails slider contanier*/overflow: hidden;width: 100%;min-width: 100%;max-height: 50px;background: #fff;}
.thumbSlider ul { /*the thumbnails list of images*/
list-style-type: none;
margin: 0; 
padding: 0;
}
.thumbSlider ul li{float:left;margin: 0;max-width: 65px;height: 45px;overflow: hidden;margin-top: 3px;}
.thumbSlider a{ /*the link wrapped around each thumbnail. dynamically.*/
color: #fff  ;
text-decoration: none;
}
.thumbSlider a img{
border: 0;
display: block;
padding: 0;
}
.thumbSlider p.tmbrdr { /* the border above -not around- each thumb */
/* width, height and top values are dynamically added by the script. Do not modify. */
position:relative; 
left: 0;
font-size: 0.01em;
left: 0;
margin: 0;
padding: 0;
}

a.left, a.right { /*the left and right buttons (links)*/background: transparent; /* could be any color  */color: #ff0000;/* font: bold 16px Arial; */overflow: hidden;}
a.left span, a.right span{

}
a.left img, a.right img{
border: 0;
}
a.l_dis, a.r_dis {
background: transparent; /* ALWAYS leave transparent. this is the 'disabled' state of the link !  */
cursor: default;
}
a.l_dis span, a.r_dis span {
display: none;
}
a:focus {outline:none;}